@import "./helpers.styl"
@import "./variables.styl"
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import "grid.styl"
*
  font-family Raleway


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block


::-webkit-scrollbar-thumb
  border 4px $primary solid
  background-color $primary !important
  border-radius 8px !important

::-webkit-scrollbar-track
  background transparent !important
  padding 4px

::-webkit-scrollbar-corner {
  background: #ffffff !important
}

::-webkit-scrollbar
  width 4px !important
  height 4px !important

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''

table
  border-collapse collapse
  border-spacing 0

button
  background transparent
  border none
  cursor pointer

.raleway
  font-family Raleway


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4kaVIGxA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.open-sans
  font-family: 'Open Sans';

.container{
  width 85%
}

.primary-outline
  border 2px $primary solid
  border-radius 20px
  @media (min-width 600px)
    border 1px $primary solid

.font-for-count {
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
}


@media (min-width: 575.98px){
  .container {
   width 500px
  }
}

@media (min-width: 767.98px){
  .container {
    width 600px
  }
}

@media (min-width: 991.98px) {
  .container {
    width 980px
  }
}

@media (min-width: 1199.98px){
  .container {
    width 1125px
  }
}